* {
  box-sizing: border-box;

  
}

/*<------FLEXBOX------>*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(2, 2, 2);
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /*<---FLEXBOX END-->*/
}




#tile{
  
  border-image-repeat: repeat;
  width: 30px;
  outline-width: 30px;
}


body {
  font-family: Arial;
  padding: 10px;
  background: #020202; 

}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(3, 3, 3);
  color: #f1f1f1;
}

h2{
    font-family:"fantasy";

}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(58, 57, 57);
  color: rgb(214, 209, 209);
}

/* Add a card effect for articles */
.card {
  background-color: rgb(5, 5, 5);
  padding: 20px;
  margin-top: 20px;
  color: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(2, 2, 2);
  margin-top: 20px;
}

#welcomeimage {
  float: left;
  margin: 0px 15px 15px 0px;
  width: 100;

  border-radius: 50%;
}
